<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <style>
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            background: #e6f5d0;
            font-family: Tahoma;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-window {
            width: 900px;
            height: 450px;
            border: 1px solid #9bbb59;
            box-shadow: 0 12px 30px rgba(0,0,0,.18);
            background: #e6f5d0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>

    <div class="login-window">
        @RenderBody()
    </div>

</body>
</html>
